@layout('layout', { title: pageTitle })

@slot('content')
  <h2 class="page-title" id="inventory-{{ pageTitle | lower }}">{{ pageTitle }}</h2>

  <div id="inventory-table" up-target="#inventory-table">
    @include('partials/inventory_rows')
  </div>
@endslot
