@layout('layout', { title: pageTitle })

  @slot('content')
    <section aria-labelledby="inventory-{{ pageTitle | lower }}">
      <h2 class="page-title" id="inventory-{{ pageTitle | lower }}">
        {{ pageTitle }}
      </h2>

      <div id="inventory-table" up-target="#inventory-table" tabindex="-1" aria-live="polite">
        @include('partials/inventory_rows')
      </div>
    </section>
  @endslot
