@layout('layout', { title: 'Services' })

@section('content')
    <h2 class="page-title">
      Services
    </h2>
    <div id="inventory-table" up-target="#inventory-table">
      @include('partials/inventory_rows')
    </div>
@endsection
